<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>
<div class="card mb-3" *ngIf="!isopponentNotesLoading">
  <h4 class="card-header">{{opponent.name}}'s Notes ({{opponentNotes.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">body</th>
          <th scope="col">opponentId</th>
        </tr>
      </thead>
      <tbody *ngIf="opponentNotes.length === 0">
        <tr>
          <td colspan="6">There are no opponent Notes in the DB. Add a new note below.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let opponentNote of opponentNotes">
          <td>{{opponentNote.body}}</td>
          <td>{{opponentNote.opponentId}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <h4 class="card-header">Add New Opponent Note For {{opponent.name}}</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addOpponentNoteForm" (ngSubmit)="addOpponentNote()">
      <input class="form-control mr-2" type="text" name="body" formControlName="body" placeholder="Body">
      <button class="btn btn-primary" type="submit" [disabled]="!addOpponentNoteForm.valid">
        <i class="fa fa-plus"></i> Add
      </button>
    </form>
  </div>
</div>
