<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>
<div class="card mb-3" *ngIf="!isLoading">
	<!-- <TODO THIS PART SHOULD BE MOVED SOMEWHERE ELSE-->
	<!-- <h4 class="card-header">Current matches ({{matches.length}})
	</h4>
	<div class="card-body">
		<div class="card-deck">
			<div *ngFor="let match of matches" class="card" style="width: 18rem;">
				<div *ngIf="!isMatchBeingEdited(match)">
					<h5 class="card-title">{{match.name}}</h5>

					<p class="card-text">Playing As: {{displayCharacterName(match.playingAs)}}</p>
					<p class="card-text">Playing Against: {{displayCharacterName(match.playingAgainst)}}</p>
					<p class="card-text">UserId: {{match.userId}}</p>

					<div class="btn-group" role="group">
						<button *ngIf="selectedMatch != match" class="btn btn-sm btn-primary ml-1" (click)="selectMatch(match)">
							<i class="fa fa-pencil"></i> Select
						</button>
						<button *ngIf="selectedMatch === match" class="btn btn-sm btn-secondary ml-1" (click)="deselectMatch(match)">
							<i class="fa fa-pencil"></i> Deselect
						</button>
						<button class="btn btn-sm btn-primary ml-1" (click)="enableEditing(match)">
							<i class="fa fa-pencil"></i> Edit
						</button>
						<button class="btn btn-sm btn-danger ml-1" (click)="deleteMatch(match)">
							<i class="fa fa-trash"></i> Delete
						</button>
					</div>
				</div>

				<div *ngIf="isMatchBeingEdited(match)">
					<form class="form-inline" #form="ngForm" (ngSubmit)="editMatch(matchBeingEdited)">
						<h5 class="card-title">Name:
							<input class="form-control mr-2" type="text" name="name" [(ngModel)]="matchBeingEdited.name" placeholder="Name" required>
						</h5>

						Playing As:
				    <select name="playingAs" [(ngModel)]="matchBeingEdited.playingAs">
				        <option *ngFor="let character of characters" [ngValue]="character._id">{{ character.name }}</option>
				    </select>
						Playing Against:
						<select name="playingAgainst" [(ngModel)]="matchBeingEdited.playingAgainst">
								<option *ngFor="let character of characters" [ngValue]="character._id">{{ character.name }}</option>
						</select>
						<div class="btn-group" role="group" aria-label="Basic example">
							<button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
								<i class="fa fa-floppy-o"></i> Save
							</button>
							<button class="btn btn-sm btn-warning" type="button" (click)="cancelEditing()">
								<i class="fa fa-times"></i> Cancel
							</button>
						</div>
					</form>
				</div>
				<br>
			</div>
		</div>
	</div> -->
	<button *ngIf="!displayMatchForm" class="btn btn-sm btn-primary ml-1" (click)="displayAddNewMatchForm()">
		<i class="fa fa-plus"></i> SELECT MATCH
	</button>
	<button *ngIf="displayMatchForm" class="btn btn-sm btn-primary ml-1" (click)="hideAddNewMatchForm()">
		<i class="fa fa-minus"></i> Hide Form
	</button>

	<div class="card" *ngIf="displayMatchForm">
		<h4 class="card-header">SELECT MATCH
		</h4>
		<div class="card-body">
			<form class="form-inline" [formGroup]="findMatchForm" (ngSubmit)="findMatch()" ngNativeValidate>
				Playing As:
		    <select formControlName="playingAs" required>
		        <option *ngFor="let character of characters" [ngValue]="character._id">{{ character.name }}</option>
		    </select>
				Playing Against:
				<select formControlName="playingAgainst" required>
						<option *ngFor="let character of characters" [ngValue]="character._id">{{ character.name }}</option>
				</select>
				<button class="btn btn-primary" type="submit" [disabled]="findMatchForm.invalid">
					<i class="fa fa-plus"></i> Find
				</button>
			</form>
		</div>
	</div>
	<div *ngIf="selectedMatch">
		<app-match-notes [match]="selectedMatch"></app-match-notes>
	</div>
	<br>
	<br>
</div>
