<div *ngFor="let tierListSection of tierListSections">
	<pre>{{tierListSection.type}}</pre>
	<div class="card text-white bg-primary mb-3">
		<div class="card-header">{{tierListSection.title}}
			<div class="card-body">
				<h5 class="card-title">{{tierListSection._id}}</h5>
				<p class="card-text">{{tierListSection.subtext}}</p>
				<p class="card-text">{{tierListSection.type}}</p>
				<p class="card-text">{{tierListSection.sortOrder}}</p>
				<div class="p-grid">
					<div class="p-col">
						<p-card [style]="{width: '180px'}" styleClass="ui-card-shadow" pDroppable="characterSlot" (onDrop)="dropInFirstPositionTierListSection($event, tierListSection)">
							<p-header>
								Drag here to add to this section!
							</p-header>
						</p-card>
					</div>
					<div class="p-col" *ngFor="let characterSlot of tierListSection.characters; let index=index" [@animation]="'visible'">
						<p-card [style]="{width: '180px'}" styleClass="ui-card-shadow" pDroppable="characterSlot"  pDraggable="characterSlot"  (onDrop)="dropInCharacterSlot($event, tierListSection, index)" (onDragStart)="dragStart($event, characterSlot)">
							<p-header>
								<img src='{{characterSlot.thumbnail}}'>
								<p>{{characterSlot.name}}</p>
							</p-header>
						</p-card>
					</div>
					<div class="p-col">
						<p-card [style]="{width: '180px'}" styleClass="ui-card-shadow" pDroppable="characterSlot" (onDrop)="dropInLastPositionTierListSection($event, tierListSection)">
							<p-header>
								Drag here to add to this section!
							</p-header>
						</p-card>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<button pButton type="button" icon="pi pi-plus" title="Add Tier List Section" (click)="addTierListSection(tierList)" [disabled]=""></button>

<div *ngIf="tierList" class="p-grid">
	<div *ngFor="let characterSlot of allCharacters" class="ui-helper-clearfix">
		<div *ngIf="!isCharacterRemoved(characterSlot); then thenBlock else elseBlock"></div>
		<ng-template #thenBlock>
			<p-card  [style]="{width: '180px'}" styleClass="ui-card-shadow" pDraggable="characterSlot" (onDragStart)="dragStart($event,characterSlot)">
				<p-header>
					<img src='{{characterSlot.thumbnail}}'>
					<p>{{characterSlot.name}}</p>
				</p-header>
			</p-card>
		</ng-template>
		<ng-template #elseBlock>
			<p-card [style]="{width: '180px'}" styleClass="ui-card-shadow" style="pointer-events: none;">
				<p-header>
					<img src='{{characterSlot.thumbnail}}' style="filter: grayscale(100%);">
					<p>{{characterSlot.name}}</p>
				</p-header>
			</p-card>
		</ng-template>
	</div>
</div>
