<p>
  tier-list works!
</p>
<tbody *ngIf="!isEditing">
  <tr *ngFor="let character of characters">
    <td>{{character.name}}</td>
    <td>{{character.age}}</td>
    <td>{{character.weight}}</td>
    <td>{{character._id}}</td>

    <td>
      <button class="btn btn-sm btn-primary" (click)="enableEditing(character)">
        <i class="fa fa-pencil"></i> Edit
      </button>
      <button class="btn btn-sm btn-danger ml-1" (click)="deleteCharacter(character)">
        <i class="fa fa-trash"></i> Delete
      </button>
    </td>
  </tr>
</tbody>
